# Common ignores
.DS_Store
node_modules/
dist/
build/
__pycache__/
*.py[cod]
*.env
.env
.venv/
.idea/
.vscode/
.pytest_cache/
src/gellax.egg-info/
gellax.db
*.egg-info/
frontend/dist/
frontend/.env.local

